WEATHER_KEY=your_weather_api_key
NEWS_KEY="put news key here"
DEBUG=false
STATION_ID=your_station_id
TRAIN_LINE_1=F
TRAIN_LINE_2=G
WEATHER_DEBUG_LAYOUT="morning"
WEATHER_ZIP=11231
QUIET_MODE=false
WEATHER_LAT=40.7128
WEATHER_LON=-74.0060